<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nwsuaf.insect.mapper.InsectCateUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.nwsuaf.insect.model.InsectCateUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userrole_id" property="userroleId" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_passwd" property="userPasswd" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userrole_id, user_code, role_code, user_name, user_passwd, user_email, role_type, 
    remark, add_user, add_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from insect_cateuserrole
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.nwsuaf.insect.model.InsectCateUserRole">
  	select * from insect_cateuserrole r where 1=1
  	 <if test="roleCode != null and '' != roleCode">
			<![CDATA[and r.role_code = #{roleCode,jdbcType=VARCHAR} ]]>
		</if>
		<if test="userName != null and '' != userName">
			<![CDATA[and r.user_name >= #{userName,jdbcType=TIMESTAMP} ]]>
		</if>
		<if test="userCode != null and '' != userCode">
			<![CDATA[and r.user_code = #{userCode,jdbcType=VARCHAR} ]]>
		</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from insect_cateuserrole
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nwsuaf.insect.model.InsectCateUserRole" >
    insert into insect_cateuserrole (id, userrole_id, user_code, 
      role_code, user_name, user_passwd, 
      user_email, role_type, remark, 
      add_user, add_time, update_user, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userroleId,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, 
      #{roleCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPasswd,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{addUser,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nwsuaf.insect.model.InsectCateUserRole" >
    insert into insect_cateuserrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userroleId != null" >
        userrole_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPasswd != null" >
        user_passwd,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userroleId != null" >
        #{userroleId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPasswd != null" >
        #{userPasswd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwsuaf.insect.model.InsectCateUserRole" >
    update insect_cateuserrole
    <set >
      <if test="userroleId != null" >
        userrole_id = #{userroleId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPasswd != null" >
        user_passwd = #{userPasswd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwsuaf.insect.model.InsectCateUserRole" >
    update insect_cateuserrole
    set userrole_id = #{userroleId,jdbcType=INTEGER},
      user_code = #{userCode,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_passwd = #{userPasswd,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      add_user = #{addUser,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>