<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nwsuaf.insect.mapper.InsectCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.nwsuaf.insect.model.InsectCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="lation_name" property="lationName" jdbcType="VARCHAR" />
    <result column="lft" property="lft" jdbcType="INTEGER" />
    <result column="rgt" property="rgt" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="category_level" property="categoryLevel" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="INTEGER" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, category_name, lation_name, lft, rgt, parent_id, category_level, 
    is_leaf, add_user, add_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from insect_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from insect_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nwsuaf.insect.model.InsectCategory" >
    insert into insect_category (id, category_id, category_name, 
      lation_name, lft, rgt, 
      parent_id, category_level, is_leaf, 
      add_user, add_time, update_user, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, 
      #{lationName,jdbcType=VARCHAR}, #{lft,jdbcType=INTEGER}, #{rgt,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{categoryLevel,jdbcType=INTEGER}, #{isLeaf,jdbcType=INTEGER}, 
      #{addUser,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nwsuaf.insect.model.InsectCategory" >
    insert into insect_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="lationName != null" >
        lation_name,
      </if>
      <if test="lft != null" >
        lft,
      </if>
      <if test="rgt != null" >
        rgt,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="categoryLevel != null" >
        category_level,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="lationName != null" >
        #{lationName,jdbcType=VARCHAR},
      </if>
      <if test="lft != null" >
        #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        #{rgt,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null" >
        #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nwsuaf.insect.model.InsectCategory" >
    update insect_category
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="lationName != null" >
        lation_name = #{lationName,jdbcType=VARCHAR},
      </if>
      <if test="lft != null" >
        lft = #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        rgt = #{rgt,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null" >
        category_level = #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nwsuaf.insect.model.InsectCategory" >
    update insect_category
    set category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      lation_name = #{lationName,jdbcType=VARCHAR},
      lft = #{lft,jdbcType=INTEGER},
      rgt = #{rgt,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      category_level = #{categoryLevel,jdbcType=INTEGER},
      is_leaf = #{isLeaf,jdbcType=INTEGER},
      add_user = #{addUser,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="PlusResultMap"
		type="com.nwsuaf.insect.model.query.InsectCategoryQuery" extends="BaseResultMap">
	</resultMap>

	<select id="selectAllInsectCategories" resultMap="PlusResultMap">
		select * from
		insect_category
	</select>
	<select id="getParents" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		parent.*
		FROM insect_category node, insect_category parent
		WHERE node.lft BETWEEN parent.lft AND parent.rgt
		AND node.id = #{id,jdbcType=INTEGER}
		ORDER BY node.lft
	</select>
</mapper>